h2{
    font-size: 30px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-shadow: 1px 1px black;
   background-color: red;
   color: white;
}
h1{
    text-align: center;
    font-size: 50px;
    font-family: Algerian;
}
h3{
    font-size: 25px;
    font-family: cursive;
}
div{
    float:left;
}