h1{
    font-size: 50px;
    text-align: center;
    font-family: Magneto;
}
.mazemeler{
    display:none;
}
#mazemeler , #mazemeler_tt ,#tarif,#tarif_tt , #btn2 
,#lahmacun_mazemeler , #lahmacun_mazemeler_tt 
,#lahmacun_tarif,#lahmacun_tarif_tt , #lahmacun_btn2 ,
 #iskender_mazemeler , #iskender_mazemeler_tt ,
 #iskender_tarif,#iskender_tarif_tt , #iskender_btn2
 ,#kere_mazemeler , #kere_mazemeler_tt ,
 #kere_tarif,#kere_tarif_tt , #kere_btn2 
 ,#antakya_mazemeler , #antakya_mazemeler_tt ,
 #antakya_tarif,#antakya_tarif_tt , #antakya_btn2 
 ,#hosmerim_mazemeler , #hosmerim_mazemeler_tt ,
 #hosmerim_tarif,#hosmerim_tarif_tt , #hosmerim_btn2   
  {
    display: none;
}
.h4_tt {
    font-size: 20px;
    text-align: center;
    font-family: Magneto;
}
.bilgiler_p{
    font-size: 15px;
    font-family: cursive;
}
.goster , .kapat{
    width: 150px ;
    background-color: blue;
    border: 0px;
    color: white;
    border-radius: 100px;
}
h4{
    font-size: 25px;

}
h2{
  font-size: 30px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-shadow: 1px 1px black;
   background-color: red;
   color: white;
}
h3{
    font-size: 25px;
    font-family: cursive;
}
p{
    font-size: 17px;

}
img{
    float:right;
    border-radius:100px ;
    border: 2px solid black ;
    width: 200px;
    height: 200px;
    
}
span{
    color: red;
    font-size: 20px;
    list-style-position: inside;
}
